html,
body {
  @apply p-0 m-0;
  // font-family: Urbanist, Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

// Typography

a {
  @apply transition-all duration-500 cursor-pointer;
  color: inherit;
  text-decoration: none;
  user-select: none;
}

.lbl {
  @apply pt-12 text-lg opacity-50 tracking-wide;
}

.lbl_ {
  @apply text-xxs tracking-wider opacity-50;
}

* {
  box-sizing: border-box;
}

// Layout

.dark {
  @apply bg-brand-purple text-white transition-all duration-500;
}

.light {
  @apply bg-gray-300 text-brand-purple transition-all duration-500;
  .font-extralight,
  .font-light {
    @apply font-normal;
  }
}

main {
  @apply row-span-3 self-center pb-20;
  @screen md {
    @apply pb-0;
  }
}

.central {
  @apply px-8;
  @screen md {
    @apply px-18;
  }
}

// trips

.trip-result {
  @apply fixed h-screen bg-black bg-opacity-75 top-0 right-0 z-4;
  @screen md {
    @apply bg-opacity-25 w-1/2;
  }
}

.trip-details {
  @apply bg-opacity-90;
}

.light {
  .trip-result {
    @apply bg-white;

    .border-white {
      @apply border-brand-purple;
    }
    .text-brand-neon {
      @apply text-brand-green;
    }
  }

  .trip-details {
    @apply bg-gray-200;
  }
}

// Form

form {
  .el {
    @apply flex flex-col flex-col-reverse relative;
  }
  input {
    @apply font-light bg-transparent pt-2 pb-2 text-3xl border-b w-full border-white border-opacity-40 text-white;
    @screen md {
      @apply pt-6 pb-4 text-4xl;
    }
    &:focus {
      @apply outline-none;
    }
    &::placeholder {
      @apply text-white text-opacity-30;
    }
  }
  label {
    @apply text-xl font-light;
    @screen md {
      @apply text-2xl;
    }
  }

  // input:focus + label,
  input:active + label,
  input.filled + label {
    @apply opacity-30;
  }
  .opts {
    @apply absolute top-22 border border-white border-opacity-20 w-full z-10 bg-brand-purple;
    @screen md {
      @apply top-30;
    }
    > div {
      @apply py-3 px-4 border-b border-white border-opacity-10 cursor-pointer duration-500 transition-all;
      &:hover {
        @apply bg-white bg-opacity-20;
      }
    }
  }
}

.light {
  form {
    input {
      @apply border-brand-purple border-opacity-40 text-brand-purple;
      &::placeholder {
        @apply text-brand-purple text-opacity-30;
      }
    }
    .opts {
      @apply border-brand-purple border-opacity-50  bg-gray-300;
      > div {
        @apply border-brand-purple border-opacity-10;
        &:hover {
          @apply bg-brand-purple bg-opacity-20;
        }
      }
    }
  }
}

// buttons
.btn {
  @apply text-xs border border-white border-opacity-50 py-1 px-2 inline-block tracking-wide whitespace-nowrap;
  &:hover {
    @apply bg-black bg-opacity-25 border-opacity-25;
  }
}

.light {
  .btn {
    @apply border-brand-purple;
  }
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
//   body {
//     color: white;
//     background: black;
//   }
// }
